body {
	background-image:  url("../images/1.png");
	background-repeat: no-repeat;
    background-size: cover;
}

.tata p {
	padding: 20px;
}

.header {
	display: flex;
	background-color: white;
}

.text {
	background-color: white;
	display: inline-block;
	border: 1px solid black;
	padding: 30px;
	flex-basis: 50%;
}

.a {
	font-size: 40px;
}

.logo {
	width: 220px;
	height: 200px;
}

.ter {
	width: 40px;
	height: 40px;
}

.t-shirt {
	margin-top: 70px;
}

.tata {
	background-color: white;
	border: 1px solid black;
	height: 100%;
}

.gerb {
	display: flex;
	margin-top: 70px;
	justify-content: space-around;
}

.ger {
	background-color: white;
    width: 200px;
    height: 200px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.wowa {
	display: flex;
	margin-top: 70px;
	justify-content: space-around;
}

.end {
	background-color: white;
	display: inline-block;
	border: 1px solid black;
	padding: 35px;
	flex-basis: 50%;
	transition: 0.4s;
}

.end:hover {
	border: 10px solid red
}

.foot {
	display: flex;
	margin-top: 70px;
	justify-content: space-around;
}

.footer {
    background-color: white;
	display: inline-block;
	border: 1px solid black;
	padding: 30px;
	flex-basis: 50%;
}	

.d {
	flex: 80%;
}

.fer {
	width: 150px;
	height: 150px;
}

/*----------------media queries------------------*/

@media (max-width: 1200px) {

	.fer {
		width: 80px;
		height: 80px;
	}

	.a {
		font-size: 17px;
	}

}

@media (max-width: 991px) {
	.tata-wrapper {
		margin-bottom: 40px;
	}
}

@media (max-width: 700px) {
	
	.fer {
		width: 50px;
		height: 50px;
	}

	.a {
		display: none;
	}

	.b {
		display: none;
	}

	.text {
		border: none;
	}
}
