.header {
	display: flex;
}

.text {
	display: inline-block;
	font-size: 40px;
	border: 1px solid black;
	padding: 30px;
	height: 50px;
	flex-basis: 50%;
}

.t-shirt {
	display: flex;
	align-items: center;
	margin-top: 70px;
	justify-content: space-around;
}

.tata {
	border: 1px solid black;
    width: 200px;
    height: 50px;
    padding: 20px;
}